/* -------- General Style Reset --------- */

@import url("reset.css");

/* -------- End of General Style Reset -------- */

/* ================Color Info============================================

	Dark Orange: rgb(164, 72, 43)
	Gray: rgb(235, 235, 235)
	Brown: rgb(83, 71, 65)
	Pale Yellow: rgb(208, 200, 149)
	Green-Gray: rgb(85, 90, 85)
	Red: rgb(198, 47, 47)

========================================================================*/

/*====================== Font Links ====================================*/

@font-face {
	font-family: "Lucida Sans";
	src: url("../fonts/lucida-sans.ttf");
	src: url("../fonts/lucida-sans.otf");
	src: url("../fonts/lucida-sans.eot"); /*--Internet Explorer--*/
}

@font-face {
	font-family: Stencil;
	src: url("../fonts/stencil-std.ttf");
	src: url("../fonts/lucida-sans.otf");
	src: url("../fonts/stencil-std.eot"); /*--Internet Explorer--*/
}

@font-face {
	font-family: "My Underwood";
	src: url("../fonts/underwood.ttf"),
	src: url("../fonts/underwood.otf"),
	src: url("../fonts/underwood.eot"); /*--Internet Explorer--*/
}

               /*--------------------------------*/

/*===================Main Global Styles===============================*/

body {
	max-width: 960px;
	background-color: rgb(85, 90, 85);
	background-image: url("../images/background.jpg");
	margin: 0 auto;
	padding: 10px;
}

.type-label {
	display: block;
	float: left;
	height: 25px;
	line-height: 25px;
	text-align: right;
	padding-right: 5px;
}

.type-field {
	border: 2px solid black;
	border-radius: 6px;
	box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.35), 2px 2px 2px rgba(0, 0, 0, 0.5);
	padding-left: 8px;
	font-style: italic;
}

.type-field:focus {
	font-style: normal;
	border: 1px solid rgb(208, 200, 149); /* Pale Yellow */
}

.titled-section-header {
	font: 1.5em Stencil, Calibri, sans-serif;
	color: rgb(235, 235, 235);
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.submit-button {
	border: 0;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
	color: rgb(235, 235, 235);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.submit-button:hover {
	opacity: 0.9;
	cursor: pointer;
}

/*===================Header Styles (Global)===========================*/

header {
	height: 150px;
	background-image: url("../images/header_bg.jpg");
	background-repeat: no-repeat;
	width: 97.916667%; /* 940px/960px */
}

header h1 {
	float: left;
	text-indent: -50000px; /* included for search engines, but not intended for display */
	width: 0.000005%; /* hack to force correct display in Safari */
}

#logo {
	float: left;
	height: 150px;
	width: 23.404255%; /* 220px/940px */
	background-image: url("../images/logo_bg.jpg");
	background-repeat: no-repeat;
	text-align: center;
}

#form_header {
	float: left;
	width: 31.914894%; /* 300px/940px */
	height: 100px;
	margin-left: 37.234043%; /* 350px/940px */
	color: rgb(235, 235, 235); /* Gray */
	text-decoration: underline;
	font: 0.813em "Lucida Sans", Calibri, sans-serif;
	overflow: hidden;
}

#form_header .type-label {
	width: 20%; /* 60px/300px */
}

#form_header .type-field {
	width: 220px; /* 220px/940px */
	height: 25px;
	margin-top: 5px;
}

#form_header p {
	float: left;
	text-align: right;
	margin-top: 5px;
	margin-right: 5px;
}

#form_header p a:link {
	color: rgb(235, 235, 235);
}

#form_header p a:hover {
	color: rgb(164, 72, 43); /* Dark Orange */
}

#form_header p a:visited {
	color: rgb(235, 235, 235);
}

#form_header .submit-button {
	background: transparent url("../images/button_login.png");
	height: 20px;
	margin-top: 5px;
}

#icon_cart {
	height: 100px;
	margin-left: 2.1276596%; /* 20px/94-px */
	padding-top: 15px;
}

nav {
	float: right;
	background-image: url("../images/nav-main_bg.jpg");
	background-repeat: no-repeat;
	height: 50px;
	width: 76.489362%; /* 719px/940px */
	font: 1.125em "My Underwood", calibri, sans-serif;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

nav li {
	display: inline;
	float: left;
	width: 25%;
	text-align: center;
	line-height: 50px;
}

nav a:link {
	color: rgb(235, 235, 235);
	text-decoration: none;
	display: block;
}

nav a:hover {
	color: rgb(208, 200, 149); /* Pale Yellow */
	background: rgba(235, 235, 235, 0.05);
}

nav a:active {
	color: rgb(164, 72, 43); /* Dark Orange */
}

nav a:visited {
	color: rgb(235, 235, 235);
}

/* ==================Body Styles: Home Page===========================*/

	/*--------Search Bar--------*/
#search-bar {
	float: left;
	width: 39.583333%; /* 380px/960px */
	height: 80px;
	margin-top: 17px;
}

#search-bar form {
	height: 25px;
	padding-top: 45px;
}

#search-bar .type-field {
	float: left;
	width: 80.263158%; /* 305px/380px */
	height: 25px;
}

#search-bar .submit-button {
	background: transparent url("../images/button_search.png");
	height: 25px;
	margin-top: 2px;
	margin-left: 3px;
}

#feature_band {
	margin-top: 17px;
}

	/*--------Top Wrapper--------*/
#wrapper_top {
	clear: left;
	margin: 20px auto;
}

	/*--------Featured Songs--------*/
#feature_songs {
	clear: left;
	float: left;
	background-image: url("../images/feature-songs_bg.jpg");
	height: 300px;
	width: 32.291667%; /* 310px/960px */
	margin-right: 1.3541667%; /* 13px/960px */
}

#feature_songs .titled-section-header {
	background-image: url("../images/feature-songs_title_bg.jpg");
	background-repeat: no-repeat;
	height: 50px;
	width: 100%;
	line-height: 50px;
	padding-left: 5.483871%; /* 17px/310px */
}

	/*--------Featured Records--------*/
#feature_records {
	width: 67.708333%; /* 650px/960px */
	height: 300px;
	background-image: url("../images/feature-records_bg.jpg");
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: left bottom;
}

#feature_records .titled-section-header {
	background-image: url("../images/feature-records_title_bg.jpg");
	height: 50px;
	background-repeat: no-repeat;
	line-height: 50px;
	padding-left: 2.6153846%; /* 17px/650px */
}

.wrapper_featured-record {
	float: left;
	padding: 20px;
	text-align: center;
	overflow: hidden;
}

#feature_records li {
	display: inline;
	float: left;
	width: 180px;
	position: center;
}

	/*--------Bottom Wrapper--------*/
#wrapper_bottom {
	clear: left;
}

	/*--------Bands on Tour--------*/
#tours {
	clear: left;
	float: left;
}

	/*--------News and Rumors--------*/
#news {
	float: left;
}

	/*--------Fat Poll--------*/


/*===================Footer Styles (Global)===========================*/

footer {
	clear: left;
}

#address {
	float: left;
}

footer li {
	float: left;
}

/*======================Media Queries ================================*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
}





















