/* -------- General Style Reset --------- */

/* 
Eric Meyer's CSS Reset
http://meyerweb.com/eric/tools/css/reset/
v1.0 | 20080212
CSSresetr.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------- End of General Style Reset -------- */

/* ================Color Info============================================

	Dark Orange: rgb(164, 72, 43)
	Gray: rgb(235, 235, 235)
	Brown: rgb(83, 71, 65)
	Pale Yellow: rgb(208, 200, 149)
	Green-Gray: rgb(85, 90, 85)
	Red: rgb(198, 47, 47)

========================================================================*/

/*====================== Font Links ====================================*/

@font-face {
	font-family: "Lucida Sans";
	src: url("../fonts/lucida-sans.otf")
	src: url("../fonts/lucida-sans.eot"); /*--Internet Explorer--*/
}

@font-face {
	font-family: Stencil;
	src: url("../fonts/stencil-std.otf")
	src: url("../fonts/stencil-std.eot"); /*--Internet Explorer--*/
}

@font-face {
	font-family: "Underwood";
	src: url("../fonts/underwood.otf")
	src: url("../fonts/underwood.eot"); /*--Internet Explorer--*/
}

               /*--------------------------------*/

/*===================Main Global Styles===============================*/

body {
	max-width: 960px;
	background-color: rgb(85, 90, 85);
	background-image: url("../images/background.jpg");
}

/*===================Header Styles (Global)===========================*/

header {
	height: 150px;
	background-image: url("../images/header_bg.jpg");
	background-repeat: no-repeat;
}

#logo {
	float: left;
	height: 150px;
	width: 22.916667%; /* 220px/960px */
	background-image: url("../images/logo_bg.jpg");
	background-repeat: no-repeat;
	text-align: center;
}

/*===================Footer Styles (Global)===========================*/























