/* -------- General Style Reset --------- */

@import url("reset.css");

/* -------- End of General Style Reset -------- */

/* ================Color Info============================================

	Dark Orange: rgb(164, 72, 43)
	Gray: rgb(235, 235, 235)
	Brown: rgb(83, 71, 65)
	Pale Yellow: rgb(208, 200, 149)
	Green-Gray: rgb(85, 90, 85)
	Red: rgb(198, 47, 47)

========================================================================*/

/*====================== Font Links ====================================*/

@font-face {
	font-family: "Lucida Sans";
	src: url("../fonts/lucida-sans.ttf");
	src: url("../fonts/lucida-sans.eot"); /*--Internet Explorer--*/
}

@font-face {
	font-family: Stencil;
	src: url("../fonts/stencil-std.ttf");
	src: url("../fonts/stencil-std.eot"); /*--Internet Explorer--*/
}

@font-face {
	font-family: Underwood;
	src: url("../fonts/underwood.ttf"),
	src: url("../fonts/underwood.otf"),
	src: url("../fonts/underwood.eot"); /*--Internet Explorer--*/
}

               /*--------------------------------*/

/*===================Main Global Styles===============================*/

body {
	max-width: 960px;
	background-color: rgb(85, 90, 85);
	background-image: url("../images/background.jpg");
	margin: 0 auto;
	padding: 10px;
}

.type-label {
	float: left;
	line-height: 25px;
}

.type-field {
	border: 2px solid black;
	border-radius: 6px;
	box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.35), 2px 2px 2px rgba(0, 0, 0, 0.5);
	display: block;
}

/*===================Header Styles (Global)===========================*/

header {
	height: 150px;
	background-image: url("../images/header_bg.jpg");
	background-repeat: no-repeat;
	width: 97.916667%; /* 940px/960px */
}

header h1 {
	float: left;
	text-indent: -50000px;
}

#logo {
	float: left;
	height: 150px;
	width: 23.404255%; /* 220px/940px */
	background-image: url("../images/logo_bg.jpg");
	background-repeat: no-repeat;
	text-align: center;
}

#form_header {
	float: left;
	height: 100px;
	margin-left: 37.234043%; /* 350px/940px */
	color: rgb(235, 235, 235); /* Gray */
	text-decoration: underline;
	font: 0.813em "Lucida Sans", Calibri, sans-serif;
}

#form_header .type-field {
	width: 220px; /* 220px/940px */
	height: 25px;
	margin-top: 5px;
}

#form_header p {
	float: left;
	text-align: right;
}

#form_header .submit-button {
	background-image: url("../images/button_login.png");
}

#icon_cart {
	height: 100px;
	margin-left: 2.1276596%; /* 20px/94-px */
}

nav {
	float: right;
	background-image: url("../images/nav-main_bg.jpg");
	background-repeat: no-repeat;
	height: 50px;
	width: 76.489362%; /* 719px/940px */
	font: 1.125em Underwood, Calibri, sans-serif;
}

nav li {
	display: inline;
	float: left;
	width: 25%;
	text-align: center;
	line-height: 50px;
}

nav a:link {
	color: rgb(235, 235, 235);
	text-decoration: none;
}

/*===================Footer Styles (Global)===========================*/


/*======================Media Queries ================================*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
}





















